body {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 20px;
  background-image: url("/images/gallery.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

h1 {
  color: white;
  font-weight: bolder;
  font-size: 60px;
  text-align: center; }

p {
  color: #372c2e;
  font-size: 25px;
  text-align: center; }

.media {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%; }

h2 {
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  font-size: 25px;
  text-align: center; }

.wrap1 {
  padding: 70px 0;
  text-align: center;
  margin-bottom: 6px; }

.hide {
  display: none; }

.wrapper {
  padding: 70px 0;
  text-align: center;
  margin-bottom: 6px; }

.btn-primary {
  color: white;
  font-size: 20px;
  background-color: #5dbcd2;
  border-color: #372c2e;
  border-width: 4px;
  margin-bottom: 4px; }

.btn-primary:hover {
  color: white;
  font-size: 20px;
  background-color: #042f66;
  border-color: #042f66;
  border-width: 4px;
  margin-bottom: 4px; }

.btn-secondary {
  color: #fff;
  font-size: 20px;
  background-color: #000;
  border-color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto; }
